@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
  font-size: 18px;
  line-height: 1.2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;
}
*:focus{
  outline: none;
}
*{
  box-sizing: border-box;
}
.custom-select-wrapper{
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}
.custom-select-wrapper .form-group{
  max-width: 50%;
  margin-bottom: 20px;
  flex: 0 0 50%;
  padding: 0 15px;
}



/*custom-select*/
.form-group{
  position: relative;
}
.custom-select-wrapper .select2-container {
    width: 100%!important;
    height: 40px;
}
.custom-select-wrapper .select2-container .select2-selection--single {
    height: 100%;
    border: none;
    border-bottom: 1px solid rgba(28,38,69,0.3);
    position: relative;
    transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    border-radius: 0;
    background-color: transparent;
}
.custom-select-wrapper .select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0;
    font-size: 16px;
    color: #1c2645;
    height: 100%;
    box-sizing: border-box;
    line-height: 36px;
}
.custom-select-wrapper .select2-container .select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
    color: #1c2645;
    font-size: 16px;
    line-height: 1.7;
    transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    opacity: 1;
}
.custom-select-wrapper .select2-container .select2-selection--single .select2-selection__arrow:after {
    content: "";
    position: absolute;
    background: url("../images/down-arrow.svg") 50% no-repeat;
    background-size: 15px;
    background-position: 50%;
    transition: transform .3s;
    right: 0;
    top: 2px;
    width: 20px;
    height: 20px;
    margin: 0;
}
.custom-select-wrapper .select2-container--open .select2-selection__arrow:after {
    transform: rotate(180deg)!important;
}
.custom-select-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  top: 7px;
}
.custom-select-wrapper .select2-container .select2-selection--single .select2-selection__arrow b {
  border: none;
}
.custom-select-wrapper .select2-search--dropdown {
  padding: 0
}
.custom-select-wrapper .select2-results__options {
    max-height: 250px;
    overflow-y: auto;
}
.custom-select-wrapper .select2-results__options .select2-results__option {
    padding: 10px 15px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    text-shadow: none;
    color: #1c2645;
    text-align: left;
    cursor: pointer;
}
.custom-select-wrapper .select2-results__options .select2-results__option.select2-results__option--highlighted {
    background-color: #eee;
    color: #1c2645;
}
.custom-select-wrapper .select2-container--open .select2-dropdown--above{
  border-bottom: 1px solid #babdc7;
}
.custom-select-wrapper .select2-dropdown{
  z-index: 8;
  border-color: #babdc7;
}

/*full-border*/
.custom-select-wrapper .full-border .select2-container .select2-selection--single {
    border: 1px solid rgba(28,38,69,0.3);
    padding: 0 35px 0 15px;
    border-radius: 4px;
}
.custom-select-wrapper .full-border .select2-container--default .select2-selection--single .select2-selection__arrow {
  right: 12px;
}

/*with serch option*/
.custom-select-wrapper .with-search .select2-search__field {
    height: 38px;
    padding: 0 15px;
    line-height: 36px;
    font-size: 16px;
    color: #1c2645;
}
.custom-select-wrapper .with-invisible-search .select2-search__field {
    height: 38px;
    padding: 0 15px;
    line-height: 36px;
    font-size: 16px;
    color: #1c2645;
    position: absolute;
    top: -40px;
    left: 0;
    border: none;
    background: transparent;
    opacity: 0;
}

/*multi select*/
.custom-multi-select .select2-selection.select2-selection--multiple {
    border: 1px solid rgba(28, 38, 69, 0.3) !important;
    border-radius: 0;
    height: 40px;
    line-height: 40px;
    color: #EB6B16;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.custom-multi-select .select2-container--default .select2-selection--multiple .select2-selection__choice {
        border-radius: 2px;
    background-color: #F9CEB1;
    display: inline-flex;
    font-size: 14px;
    border: 0;
    color: #1c2645;
    font-weight: 400;
    padding: 0 10px;
    margin-right: 15px;
    white-space: nowrap;
    margin: 4px 4px 8px 0;
    height: 30px;
    line-height: 30px;
}

.custom-multi-select .select2-container--default .select2-selection--multiple .select2-selection__choice span {
    order: 2;
    color: #1c2645 !important;
    font-size: 20px;
    margin-left: 10px;
}

.custom-multi-select .select2-container--default .select2-selection--multiple .select2-selection__rendered li.select2-search--inline {
    line-height: 38px;
}

.custom-multi-select .select2-container--default .select2-selection--multiple .select2-selection__rendered li.select2-search--inline input {
    margin-top: 0;
    font-size: 16px;
    color: #1c2645;
    padding-left: 8px;
    cursor: pointer;
    width: auto !important;
}

.custom-multi-select .select2-container--default .select2-selection--multiple .select2-selection__rendered li.select2-search--inline input::placeholder {
    font-size: 16px;
    color: #1c2645 !important;
    opacity: 1 !important;
}

.custom-multi-select .select2-container--default .select2-selection--multiple .select2-selection__rendered li.select2-search--inline input::-webkit-input-placeholder {
    font-size: 16px;
    color: #1c2645 !important;
    opacity: 1 !important;
}

.custom-multi-select .select2-container--default .select2-selection--multiple .select2-selection__rendered li.select2-search--inline input::-moz-placeholder {
    font-size: 16px;
    color: #1c2645 !important;
    opacity: 1 !important;
}

.custom-multi-select .select2-container--default .select2-selection--multiple .select2-selection__rendered li.select2-search--inline input:-ms-input-placeholder {
    font-size: 16px;
    color: #1c2645 !important;
    opacity: 1 !important;
}

.custom-multi-select .select2-container--default .select2-selection--multiple .select2-selection__rendered li.select2-search--inline input:-moz-placeholder {
    font-size: 16px;
    color: #1c2645 !important;
    opacity: 1 !important;
}

.custom-multi-select .select2-selection.select2-selection--multiple:after {
    position: absolute;
    transition: all 0.3s;
    content: '';
    height: 15px;
    width: 15px;
    background-position: center;
    background-size: 15px;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../images/down-arrow.svg);
    background-repeat: no-repeat
}

.custom-multi-select .select2-container--default .select2-selection--multiple {
    padding: 0 45px 0 7px;
}

.custom-multi-select .select2-container--default .select2-results>.select2-results__options {
    max-height: 300px;
}

.custom-multi-select .select2-results__option {
    background-color: #FBFBFB !important;
    font-weight: 400;
    font-size: 14px;
    padding: 20px 50px 20px 20px;
    color: #1c2645 !important;
    position: relative;
}

.custom-multi-select .select2-dropdown {
    border: 0;
    background-color: #FBFBFB;
    box-shadow: 0px 2px 2px #00000026;
}

.custom-multi-select .select2-container--open .select2-selection.select2-selection--multiple, .select2-selection.select2-selection--multiple:focus {
    border-color: #EB6B16 !important
}

.custom-multi-select .select2-container .select2-selection--multiple .select2-selection__rendered {
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.custom-multi-select .select2-container .select2-selection--multiple .select2-selection__rendered::-webkit-scrollbar {
    height: 5px;
}

.custom-multi-select .select2-container .select2-selection--multiple .select2-selection__rendered::-webkit-scrollbar-track {
    background-color: #CFCFCF;
    border-radius: 10px;
}

.custom-multi-select .select2-container .select2-selection--multiple .select2-selection__rendered::-webkit-scrollbar-thumb {
    background-color: rgba(21, 22, 22, 0.21);
    border-radius: 10px;
    right: 10px;
}

.custom-multi-select .select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar {
    width: 15px;
}

.custom-multi-select .select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-track {
    background-color: #CFCFCF;
    border-radius: 10px;
}

.custom-multi-select .select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb {
    background-color: rgba(21, 22, 22, 0.21);
    border-radius: 10px;
    right: 10px;
}

.custom-multi-select .select2-results__option:hover {
    background-color: rgba(235, 107, 22, 0.1) !important
}

.custom-multi-select .select2-container--open .select2-selection.select2-selection--multiple:after {
    transform: translateY(-50%) rotate(180deg);
}

.custom-multi-select .select2-results__option::before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    background-image: url(../images/check-ic.svg);
    background-position: center;
    background-size: 17px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 0.3s;
    visibility: hidden;
}

.custom-multi-select .select2-results__option[aria-selected="true"]::before {
    opacity: 1;
    visibility: visible;
}
/*custom-select*/